<div class = "row">
  <div class = "col-md-6">
    <h1>Listing tasks</h1>
    <div class="table-responsive">
      <table class="table table-bordered" id='tasks'>
        <tr>
        <th>Title</th>
        <th>Description</th>
        <th></th>
        <th></th>
        <th></th>
        </tr>
        <%= render @tasks %>
      </table>
    </div>
  </div>
  <div class = "col-md-6">
    <ul class="nav nav-tabs" role="tablist">
      <li><%= link_to 'Main' , '' %></li>
      <li><%= link_to 'New Task', new_task_path , remote: true %></li>
    </ul>
    <div id='showall' style='display:none;'></div>
    <div id='task-form' style='display:none;'></div>
  </div>
  
</div>







