<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path , remote: true %>

<div id='task-form' style='display:none;'></div>

<div id='tasks'></div>
